export(addTear)
export(azel.to.sphere.colattitude)
export(azimuthal.conformal)
export(azimuthal.equalarea)
export(azimuthal.equidistant)
export(central.angle)
export(checkDatadir)
export(compute.kernel.estimate)
export(create.polar.cart.grid)
export(flatplot)
export(getDss)
export(getDssHullarea)
export(getDssMean)
export(getGss)
export(getIDs)
export(getIms)
export(getKDE)
export(getKR)
export(getSss)
export(getSssMean)
export(getTear)
export(getTss)
export(identity.transform)
export(idt.read.dataset)
export(invert.sphere.to.hemisphere)
export(invert.sphere)
export(karcher.mean.sphere)
export(kde.compute.concentration)
export(kde.fhat.cart)
export(kde.fhat)
export(kde.L)
export(kr.compute.concentration)
export(kr.sscv)
export(kr.yhat.cart)
export(kr.yhat)
export(labelTearPoints)
export(line.line.intersection)
export(list.datasets)
export(lvsLplot)
export(mergePointsEdges)
export(nameLandmark)
export(normalise.angle)
export(optimiseMapping)
export(orthographic)
export(panlabel)
export(polar.cart.to.sphere.spherical)
export(polartext)
export(projection)
export(projectToSphere)
export(read.ijroi)
export(recfile.version)
export(ReconstructedDataset)
export(remove.intersections)
export(removeTear)
export(RetinalReconstructedDataset)
export(RetinalReconstructedOutline)
export(retistruct.batch.analyse.summaries)
export(retistruct.batch.analyse.summary)
export(retistruct.batch.export.matlab)
export(retistruct.batch.figures)
export(retistruct.batch.get.titrations)
export(retistruct.batch.plot.ods)
export(retistruct.batch.plot.titrations)
export(retistruct.batch.summary)
export(retistruct.batch)
export(retistruct.check.markup)
export(retistruct.cli.figure)
export(retistruct.cli.process)
export(retistruct.cli)
export(retistruct.export.matlab)
export(retistruct.global.revision)
export(retistruct.potential.od)
export(retistruct.read.dataset)
export(retistruct.read.markup)
export(retistruct.read.recdata)
export(retistruct.reconstruct)
export(retistruct.save.markup)
export(retistruct.save.recdata)
export(rotate.axis)
export(setFixedPoint)
export(sinusoidal)
export(solveMappingCart)
export(sphere.spherical.to.polar.cart)
export(sphere.tri.area)
export(sphericalplot)
export(StitchedOutline)
export(titrate.reconstructedOutline)
export(tri.area.signed)
export(tri.area)
export(TriangulatedOutline)
export(vecnorm)
export(whichTear)
import(geometry)
S3method(all.equal,dataset)
S3method(flatplot,annotatedOutline)
S3method(flatplot,dataset)
S3method(flatplot,default)
S3method(flatplot,outline)
S3method(flatplot,reconstructedOutline)
S3method(flatplot,retinalDataset)
S3method(flatplot,stitchedOutline)
S3method(flatplot,triangulatedOutline)
S3method(getDss,default)
S3method(getDss,reconstructedDataset)
S3method(getDssMean,default)
S3method(getDssMean,reconstructedDataset)
S3method(getGss,default)
S3method(getGss,reconstructedDataset)
S3method(getGss,retinalReconstructedDataset)
S3method(getIDs,dataset)
S3method(getIDs,default)
S3method(getIDs,reconstructedDataset)
S3method(getIms,default)
S3method(getIms,reconstructedOutline)
S3method(getIms,retinalReconstructedOutline)
S3method(getSss,default)
S3method(getSss,reconstructedDataset)
S3method(getSssMean,default)
S3method(getSssMean,reconstructedDataset)
S3method(getSssMean,retinalReconstructedDataset)
S3method(getTss,default)
S3method(getTss,reconstructedOutline)
S3method(getTss,retinalReconstructedOutline)
S3method(lvsLplot,default)
S3method(lvsLplot,reconstructedOutline)
S3method(nameLandmark,dataset)
S3method(nameLandmark,default)
S3method(nameLandmark,retinalDataset)
S3method(plot,IJROI)
S3method(projection,default)
S3method(projection,reconstructedDataset)
S3method(projection,reconstructedOutline)
S3method(projection,retinalReconstructedDataset)
S3method(projection,retinalReconstructedOutline)
S3method(sphericalplot,default)
S3method(sphericalplot,reconstructedDataset)
S3method(sphericalplot,reconstructedOutline)
useDynLib(retistruct)
